<h1><%= @campaign.name %></h1>
<%= link_to "Back", campaigns_path %>
<h2>Candidates</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Valid votes
      </th>
      <th>
        Invalid votes
      </th>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |can| %>
      <tr>
        <td>
          <%= can.name  %>
        </td>
        <td>
          <%= can.votes.for_campaign(@campaign).valid.count %>
        </td>
        <td>
          <%= can.votes.for_campaign(@campaign).invalid.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
